html, body{
    margin: 0;
    height: 100%;
    width: 100%;
  }
  body{
    background-color: #222;
    color: #fff;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }
  #app{
    header {
        height: 20px;
        border-bottom: 1px solid #000;
    }

    //display: flex;
    //flex-flow: column;
    //height: 100%;
    //width: 100%;
    #canvas{
      border: none;
      background-color: #000;
      //aspect-ratio: 16/9;
    }
  }
  