$shadow50: 1px 1px 2px #000e;

$blockShadow100: 4px 4px #0004;
$blockShadow200: 8px 8px #0004;

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}

body{
  background-color: #222;
  color: #fff;
  font-family: Mono, Monospace, monospace;
}

button{
  border: none;
  padding: .5rem 1rem;
  background-color: #111;
  box-shadow: $blockShadow100;
  margin: .5rem;
  color: #fff;
  cursor: pointer;
  transition: all .4s;
  &:hover{
    box-shadow: $blockShadow200;
  }
}

.hidden{
  display: none;
}

#app{
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  header {
    position: relative;
    border-bottom: 1px solid #000;
    font-size: 1.2rem;
    padding: 1.5rem;
    font-weight: bold;
    background-color: #1b1b1b;
    box-shadow: $blockShadow200;
    box-sizing: border-box;
  }

  main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 1rem;

    .canvasWrapper{
      position: relative;
      display: flex;
      #canvas{
        position: relative;
        border: none;
        background-color: #000;
        //aspect-ratio: 16/9;
        box-shadow: $blockShadow200;
        max-width: 100%;
      }
      .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: all .8s;
        background-color: #222a;
        opacity: 0;
        pointer-events: none;
        &.active{
          opacity: 1;
          pointer-events: all;
        }
        .buttonWrapper{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-flow: column;
          justify-content: center;
          button{
            background-color: #266379;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
      .actions{
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: .8rem;
        margin: 1rem;
        display: block;
        button{
          position: relative;
          background-color: #266379;
        }
        #info{
          position: relative;
          margin: 1rem .5rem;
        }
      }
    }
  }
  footer{
    padding: 1.5rem;
    background-color: #1b1b1b;
    font-size: .8rem;
    a{
      color: #fff;
    }
  }
}
